@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#title {
    font-size: 2em;
    margin-bottom: .5em;
}

#description {
    margin-bottom: 1vw;
}

.county {
    stroke: white;
    stroke-width: .3;
}

.county:hover {
    stroke: #212f3c;
    stroke-dasharray: none;
    stroke-width: 1;
}

.state {
    fill: none;
    stroke: white;
    stroke-width: 1px;
}

#tooltip {
    position: absolute;
    width: fit-content;
    height: fit-content;
    padding: .5vw;
    font-size: .8em;
    font-weight: bolder;
    border-radius: 5px;
    background-color: #f5b7b1;
    box-shadow: 1px 1px 6px 3px rgba(103,103,103,0.9);
}
